@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:wght@300;500&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.card {
  background-color: lightcoral;
  width: 300px;
  text-align: center;
  height: 350px;
  border-radius: 10px;
  transition: 0.1s;
  box-shadow: 1px 5px 1px 1px gray;
}
.card:hover{
  transform: scale(1.05);
}
.card > p {
  margin-bottom: 10px;
}
